Django
PyJWT
asgiref
certifi
cffi
charset-normalizer
cryptography
daphne
defusedxml
django-allauth
django-appconf
django-browser-reload
django-compressor
django-cors-headers
django-htmx
django-stubs
idna
oauthlib
psycopg2-binary
pycparser
pytest
pytest-django
pytest-env
python3-openid
rcssmin
requests
requests-oauthlib
rjsmin
sqlparse
strawberry-graphql
strawberry-graphql-django
typing_extensions
urllib3
watchdog[watchmedo]
whitenoise
